spring.application.name=MailService
server.port=<PORT>

# Kafka configuration
spring.kafka.bootstrap-servers=<KAFKA_HOST>
kafka.topic.createUser=<CREATE_USER_TOPIC_NAME>

# Mail configuration
spring.mail.host=<MAIL_HOST>
spring.mail.port=<MAIL_PORT>
spring.mail.username=<MAIL_USERNAME>
spring.mail.password=<MAIL_PASSWORD>
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
